
.point_history_deduct {    font-size: 20px; font-family: 'DB_Adman_X_Bd'; color: #e2262c;}
.sa-button-container{ display: none !important;}
.sweet-alert h2 { margin: 0px !important;}
.sweet-alert {  padding: 42px !important;}
.text-red {
    color: #e2262c;
}