.mockup img{ width: 200px; margin: 15px 0px;}
.check_conditions {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 4px 10px 0px 30px;
    margin: 10px 0px 10px;
    border-radius: 2px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 22px;
    width: 100%;
    color: #707070;
    font-family: 'DB_Adman_X_Bd';
    font-size: 20px;
}

.check_agree .check_conditions{
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 4px 10px 0px 0px;
  margin: 10px 0px 10px;
  border-radius: 2px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 22px;
  width: 100%;
  color: #707070;
  font-family: 'DB_Adman_X_Bd';
  font-size: 20px;
}

  .check_agree .checkmark_condition{
    border-radius: 20px;
  }

  .radio_checkmark_condition {
    position: absolute;
    top: 3px;
    left: 22px;
    height: 22px;
    width: 22px;
    /* border: 2px solid #03ac4f; */
    border-radius: 10px;
    background: #fff;
  }

  .radio_checkmark_condition:after {
    content: "";
    position: absolute;
    display: none;
  }

  .radio_checkmark_condition:after {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    border: 6px solid #03ac4f;
    background-color: #ffffff;
  }

  .check_conditions input:checked ~ .checkmark_condition:after, .check_conditions input:checked ~ .radio_checkmark_condition:after {
    display: block;
  }
  .check_conditions .checkmark_condition:after {
    left: 8px;
    top: 1px;
    width: 7px;
    height: 17px;
    border: solid #03ac4f;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
.remind{color: #707070; line-height: 20px; margin: 20px 0px}
.color-incident{ color: #707070; }
.upload_preview img {
  /* width: 100%;
  height: 5rem;  */
  height: 6rem;
  max-width: 100%;
  /* object-fit: cover; 
  border-radius: 4px; */
}
.upload_preview{
  /* border: 2px dashed #c5c5c5; */
  padding: 6px; 
  border-radius: 4px; 
  width: 100%; 
  height: 6rem
}
.uploadfile{width: 80%; position: absolute; z-index: 999; height: 5rem;}
.review_image_before {padding: 5px;}
.row_image{margin: 0px -0.3rem;}
  
.errorImageSize {
  font-family: 'DB_Adman_X_Bd';
  color: red;
  font-size: 20px;
}

.preview-image {
  width: initial !important;
  /* height: initial !important; */
  /* position: absolute; */
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.close-btn {
  position: absolute;
  margin-top: -25px;
  right: 0;
  font-size: 30px;
}

.rotate-btn {
  position: absolute;
  margin-top: -25px;
  text-align: center;
  font-size: 30px;
}
.t-indent{
  text-indent: 10px;
}
.check_conditions-margin{ margin: 0!important;}
.img-fluid{ max-width: 100%;height: auto;}
.div-centers{     
  text-align: center;
  border: 1px dashed #C4C4C4;
}