.head_title_inform span{
    color: #707070;
    font-family: 'DB_Adman_X_Bd';
    text-align: center;
    margin-bottom: 1rem;
}
.iconClose{ float: right; position: absolute; right: 25px; top: 0; margin-top: 25px; }
.sizeCloseBtn{ font-size: 20px; }
.fontSizeCase{ font-size: 20px; }
