
label { color: #777777; margin-bottom: 5px;}
input[type="text"] { padding: .375rem .75rem;border-radius: .25rem;border: 1px solid #ced4da;width: 100%; color: #03ac4f;font-family: 'DB_Adman_X_Bd';}
.react-datepicker-wrapper { width: 100%;}
.react-datepicker__input-container {width: 100%;}
