.errorMsg {
    /* margin-top: 10px; */
    /* font-weight: 600; */
    color: #e2262c;
  }

  .disabled {
    opacity: 0.7;
    pointer-events: none;
  }

.errorFocus {
    border: 1px solid #e2262c !important;
    box-shadow: none !important;
}

.formprofile_1 .form-control.errorFocus:focus {
  /* border: red !important; */
  box-shadow: none !important;
}
.form-control:not(.errorFocus):focus {
  border-color: transparent !important;
  box-shadow: none !important;
}

.datepicker-modal {
  position: fixed !important;
}