
  @font-face {
    font-family: 'DB_Adman_X_Bd';
    src: url('../fonts/DB_Adman_X_Bd.eot');
    src: local('☺'), url('../fonts/DB_Adman_X_Bd.woff') 
    format('woff'), url('../fonts/DB_Adman_X_Bd.ttf')
    format('truetype'), url('../fonts/DB_Adman_X_Bd.svg') 
    format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'DB_Adman_X';
    src: url('../fonts/DB_Adman_X.eot');
    src: local('☺'), url('../fonts/DB_Adman_X.woff') 
    format('woff'), url('../fonts/DB_Adman_X.ttf') 
    format('truetype'), url('../fonts/DB_Adman_X.svg') 
    format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  
  * { font-family: 'DB_Adman_X'; font-size: 18px; }
  body { background: #ebebeb;}
  a { outline: none; text-decoration: none;}
  a:focus, a:hover {text-decoration: none;}
  .nopadding {padding: 0px;}
  a:focus, a:hover {
    text-decoration: none;
    outline: none;
  }
  .btn.focus, .btn:focus, .btn:hover{ outline: none; color: #fff;}

.btn-secondary {
    background: #0e7439;
    color: #fff; 
    padding: 6px 12px;
    font-family: 'DB_Adman_X_Bd';
    font-size: 20px;
    border-radius: 0.1rem;
}
.btn-secondary span{
    font-family: 'DB_Adman_X_Bd';
   
}

.btn-secondary.focus, .btn-secondary:focus{box-shadow: none;}
.btn-secondary:not(:disabled):not(.disabled).active:focus, 
.btn-secondary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-secondary.dropdown-toggle:focus{box-shadow: none;}
.btn-secondary:hover {background-color: #0e7439; border-color: #0e7439;}

button.btn.btn-secondary.btn-block.btn_agreement:focus {
    outline: none;
}
button.btn.btn-secondary.btn-block.btn_agreement:active {
    outline: none;
    background: #158846;
}
.content_page{ padding-top: 1rem;padding-bottom: 1rem;}
.check_conditions_form {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0px 10px 0px 30px;
  margin: 0px 0px 10px;
  border-radius: 2px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 22px;
  width: 100%;
  color: #777777;

}
input[type=checkbox], input[type=radio] {
  display: none;
}
input#exampleFormControlInput1 {font-family: 'DB_Adman_X' !important; }
.checkmark_condition {
  position: absolute;
  top: 3px;
  left: 0px;
  height: 22px;
  width: 22px;
  /* border: 2px solid #03ac4f; */
  border-radius: 2px;
  background: #fff;
}
.checkmark_condition:after {
  content: "";
  position: absolute;
  display: none;
}
.check_conditions_form input:checked ~ .checkmark_condition:after {
  display: block;
}
.check_conditions_form .checkmark_condition:after {
  left: 8px;
  top: 1px;
  width: 7px;
  height: 17px;
  border: solid #03ac4f;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form-group { margin-bottom: 0.5rem;}
.form-control  { font-size: 20px;color: #03ac4f;}
.form-control:focus { color: #707070;}
.input_form::-webkit-input-placeholder { color:#cccccc; }  /* WebKit, Blink, Edge */
.input_form:-moz-placeholder { color:#cccccc; }  /* Mozilla Firefox 4 to 18 */
.input_form::-moz-placeholder { color:#cccccc; }  /* Mozilla Firefox 19+ */
.input_form:-ms-input-placeholder { color:#cccccc; }  /* Internet Explorer 10-11 */
.input_form::-ms-input-placeholder { color:#cccccc; }  /* Microsoft Edge */

 
.footer_btn{position: absolute; bottom: 0; padding-bottom: 20px; left: 0; width: 100%; padding: 0px 15px 20px;}

@media (max-width:465px) and (min-width:320px) {

}

