
label { color: #777777; margin-bottom: 5px;}
.label1 { color: #777777; margin-bottom: 5px;}
input[type="text"] { margin-top: 0.2rem; padding: .375rem .75rem;border-radius: .25rem;border: 1px solid #ced4da;width: 100%; color: #03ac4f;}
.react-datepicker-wrapper { width: 100%;}
.react-datepicker__input-container {width: 100%;}
.required{ color: red }
.label-required{ font-size: 20px; font-weight: bold; }

.dopa-birthdaycheck{
    border: 1px solid #6ac259;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    background: #ffffff;
}
.dopa-birthdayimage{
    width: 20px;
    height: 20px;
}
.dopa-birthdaytext{
    color: #777777;
    padding-left: 10px;
}