#loading {
    height: 100vh;
    background: #fff;
    width: 100%;
}
.content_class img {
    width: 150px;
    display: inline-block;
    position: relative;
}
.content_class{
    text-align: center;
    position: absolute;
    top: 38%;
    right: 0;
    left: 0;
    margin-left: 0;
    margin-right: 0;
}