

.detail_content{ font-size: 20px; margin-bottom: 3rem;}
.content_btn_agreements{
  background: #ebebeb;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 0px 10px 1rem;
}
.head_title_agree span{ font-family: 'DB_Adman_X_Bd'; color: #03ac4f; font-size: 20px;}
.comment{color: #03ac4f;font-family: 'DB_Adman_X_Bd';}
.btn_agreement { margin-top: 10px; bottom: 0;}
.check_conditions span {font-family: 'DB_Adman_X_Bd';}
.check_conditions {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px 10px 0px 30px;
    margin: 0px 0px 10px;
    border-radius: 2px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 27px;
    width: 100%;
    color: #707070;
    font-family: 'DB_Adman_X_Bd';
    font-size: 20px;
}
  .check_conditions input:checked ~ .checkmark_condition:after {
    display: block;
  }
  .check_conditions .checkmark_condition:after {
    left: 8px;
    top: 1px;
    width: 7px;
    height: 17px;
    border: solid #03ac4f;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
.btn_nextstep {margin-top: 30px;}
.btn-secondary.disabled, .btn-secondary:disabled{
  background-color: #707070;
  border: none;  
}