
label { color: #777777; margin-bottom: 5px;}
input[type="text"] { margin-top: 0.2rem; padding: .375rem .75rem;border-radius: .25rem;border: 1px solid #ced4da;width: 100%; color: #03ac4f;}
.react-datepicker-wrapper { width: 100%;}
.react-datepicker__input-container {width: 100%;}
#loading {
    height: 100vh;
    background: #fff;
    width: 100%;
}
.content_class img {
    width: 150px;
    display: inline-block;
    position: relative;
}
.content_class{
    text-align: center;
    position: absolute;
    top: 38%;
    right: 0;
    left: 0;
    margin-left: 0;
    margin-right: 0;
}
.form-control:disabled, .form-control[readonly]{
    background-color: #ebebeb;
    opacity: 1;
    color:#03ac4f !important;
}

.disabled{
    background-color: #ebebeb;
}