.check_conditions_select {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 1px 10px 0px 30px;
    margin: 5px 0px 10px;
    border-radius: 2px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 27px;
    width: 100%;
    color: #707070;
    font-family: 'DB_Adman_X_Bd';
    font-size: 20px;
}
  .check_conditions_select input:checked ~ .checkmark_condition_select:after {
    display: block;
  }
  .check_conditions_select .checkmark_condition_select:after {
    left: 0px;
    top: 0px;
    width: 22px;
    height: 22px;
    border: solid #03ac4f;
    border-width: 11px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(0deg);
    border-radius: 2px;
  }
  .checkmark_condition_select {
    position: absolute;
    top: 3px;
    left: 0px;
    height: 22px;
    width: 22px;
    /* border: 2px solid #03ac4f; */
    border-radius: 2px;
    background: #fff;
  }
  .checkmark_condition_select:after {
    content: "";
    position: absolute;
    display: none;
  }

  .btn_nextstepp { margin-top : 1rem;}
  

  /* The selectoneonly */
.selectoneonly {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 1px 10px 0px 30px;
    margin: 5px 0px 10px;
    border-radius: 2px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 27px;
    width: 100%;
    color: #707070;
    font-family: 'DB_Adman_X_Bd';
    font-size: 20px;
  }
  
  /* Hide the browser's default radio button */
  .selectoneonly input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark_selectoneonly {
    position: absolute;
    top: 3px;
    left: 0px;
    height: 22px;
    width: 22px;
    /* border: 2px solid #03ac4f; */
    border-radius: 2px;
    background: #fff;
  }
  

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark_selectoneonly:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .selectoneonly input:checked ~ .checkmark_selectoneonly:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .selectoneonly .checkmark_selectoneonly:after {
    left: 0px;
    top: 0px;
    width: 22px;
    height: 22px;
    border: solid #03ac4f;
    border-width: 11px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(0deg);
    border-radius: 2px;
  }
  