.select_date_row {padding: 0px 15px;}
.select_date { padding: 0px 5px; line-height: 22px;}
.title_pagemanagepoint { color: #777777;margin-bottom: 5px;text-align: center;}
.list-group-item {background: none;}
.list_date {border-bottom: 1px solid #c3c3c3; padding: 10px 0px;margin: 0px 0px;}
.title_list_history{ color: #707070; font-family: 'DB_Adman_X_Bd';font-size: 20px;}
.sub_date_history {color: #777777;}
.point_history {    font-size: 20px; font-family: 'DB_Adman_X_Bd'; color: #03ac4f}
.btn_search {padding: 3px 12px; margin-bottom: 2rem;} 
.data_null{ color: #707070; text-align: center; font-size:25px;}